body {
	height: 100vh;
	margin: 0;
	display: grid;
	place-items: center;
	overflow: hidden;
	font-family: Arial, sans-serif;

	background-image:
		linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
		url("fondo.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.emoji-rain {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1;
}

.emoji {
	position: absolute;
	top: -50px;
	font-size: 24px;
	animation: fall linear forwards;
}

@keyframes fall {
	to {
		transform: translateY(110vh) rotate(360deg);
		opacity: 0;
	}
}

.xmas-card {
	width: 340px;
	height: 450px;
	position: relative;
	perspective: 1200px;
	box-shadow: 0 15px 30px rgba(0,0,0,0.6);
	z-index: 2;
}

.front, .back {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 12px;
	border-left: 10px solid #fff;
	background-size: cover;
	background-position: center;
}

.front {
	background-image: url("imagen-uno.png");
	transform-origin: left;
	transition: transform 0.6s ease;
}

.back {
	background-image: url("imagen-dos.png");
	z-index: -1;
}

.xmas-card.open .front {
	transform: rotateY(-180deg);
}

